* {
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: auto;
    padding: 0;
    background-color: #d5dcd6;
    font-family: Arial, sans-serif;
}

.imageContainer {
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
}

table {
    width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
}